/***************************Section Activities **************************************/
#activities {
  margin-bottom: 72px;
  max-width: 100%;
  height: auto;
}
#activities .title {
  margin-bottom: 2.5rem;
}
#activities .activitiesList {
  height: 550px;
  width: 1376;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* flex: 2 1 100%; */
  justify-content: space-between;
  gap: 32px;
}
/* .card__container {
  display: flex;
  width: 23%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
} */
/* Card Layout */
.activity__card {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 5px 5px 16px rgba(158, 158, 199, 0.151);
  transition: 0.2s ease all;
  flex-wrap: wrap;
}
.activity__card:hover {
  transform: scale(1.03);
}

.card__container:nth-child(1){
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 320px; 
}
.card__container:nth-child(2){
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 1 320px;
  gap: 32px;
 
}
.card__container:nth-child(3){
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 320px; 
}
.card__container:nth-child(4){
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 320px;
  gap: 32px; 
}
.activity__card:nth-child(1) {  
  height: 100%;
  flex: 0 0 320px;  
}
.activity__card:nth-child(2) {
  
  /* height: 50%; */
  flex: 0 1 320px;
}
.activity__card:nth-child(3) {
  /* height: 50%; */
  flex: 0 1 320px;
}
.activity__card:nth-child(4) {
  
  height: 100%;
  flex: 0 0 320px;
}
.activity__card:nth-child(5) {
  
  height: 53%;
  flex: 0 0 320px;
}
.activity__card:nth-child(6) {
  
  height: 43%;
  flex: 0 0 320px;
}
/* .card__item--1 {
  width: 23%;
  flex-basis: 100%;
}
.card__item--2 {
  width: 23%;
  flex-basis: 57%;
}
.card__item--3 {
  width: 23%;
  flex-basis: 37%;
}
.card__item--4 {
  height: 100%;
}
.card__item--5 {
  height: 37%;
}
.card__item--6 {
  height: 57%;
} */

/* Card Link */
.card__link {
  border-radius: 16px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Card Image */
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* Card Overlay */

.card__overlay {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  overflow: hidden;
}

/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

@media screen and (max-width: 992px) {
  /***************************Section Activities **************************************/
  #activities .activitiesList {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 24px;
  }

  /* .cont-1 {
    height: 220px;
    width: 100%;
  }
  .card__item--1 {
    display: flex;
  }
  .cont-2 {
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .card__item--2 {
    height: 220px;
    display: flex;
  }
  .card__item--3 {
    height: 220px;
    display: flex;
  }
  .cont-3 {
    height: 220px;
    width: 100%;
    gap: 24px;
  }
  .cont-4 {
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
  .card__item--5 {
    height: 220px;
    display: flex;
  }
  .card__item--6 {
    height: 220px;
    display: flex;
  } */
}
