/***************************Section Activities **************************************/
#activities {
  margin-bottom: 45px;
}
#activities .activitiesList {
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card__container {
  display: flex;
  width: 23%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cont-2, .cont-4{
  gap: 30px;
}
/* Card Layout */
.card {
  box-shadow: 5px 5px 16px rgba(158, 158, 199, 0.151);
}
.card__item--1,
.card__item--4 {
  height: 100%;
}
.card__item--2,
.card__item--6 {
  height: 53%;
}
.card__item--3,
.card__item--5 {
  height: 45%;
}
/* Card Link */
.card__link {
  border-radius: 16px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Card Image */
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Card Overlay */
.card__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 8px;
  background: #fff; 
  font-weight: 700;  
}
.card__overlay h3 {
  font-size: 14px;
}
/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

@media screen and (max-width: 992px) {
  /***************************Section Activities **************************************/
  #activities .activitiesList {
    flex-direction: row;
    height: 400px;
    flex-wrap: wrap;
    padding-bottom: 220px;
    gap: 16px;
  }
  .cont-1, .cont-3 {
    width: 32%;
    height: 200px;
  }
 
  .cont-2, .cont-4{
    width: 65%;
    flex-direction: row;
    gap: 32px;
  }
  .card__item--2,
  .card__item--3,
  .card__item--5,
  .card__item--6{
    width: 50%;
    height: 200px;
  } 
  .card__overlay h3{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  /***************************Section Activities **************************************/
  #activities .activitiesList {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 36px;
    padding-bottom: 0px;
  }
  .cont-1, .cont-3 {
    height:220px;
    width: 100%;
  }
  .cont-2, .cont-4{
    flex-wrap: wrap;
    height: 34%;
    width: 100%;
    gap: 36px;
  }
  .card__item--2,
  .card__item--3,
  .card__item--5,
  .card__item--6{
    width: 100%;
    height:220px;
  }
  .card__overlay h3{
    font-size: 14px;
  }  
}
