.bannerident{
    height:120px;
    width: 50%;
	position: absolute;
	border-radius: 5px;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	background-color: red;
    padding: 5px;
}
.bannerident .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
.bannerident .container p {
	line-height: 2px;
}
.bannerident .container p span {
	font-weight: 700;
}