/***************************Section Filters***************************************/
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#filters .title {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0 16px 16px 0;
}
#filters ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#filters ul li {
  display: flex;
  align-items: center;
  margin-right: 16px;
  border: 2px solid var(--darkgrey);
  border-radius: 25px;
  transition: 0.3s ease;
  margin-bottom: 15px;
}
#filters ul li:hover {
  /* transform: scale(1.03); */
  opacity: 0.85;
  background: var(--lightgrey);
}
#filters ul li span {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background: var(--lightgrey);
  color: var(--blue);
  border-radius: 25px;
  margin-left: -2px;
}
#filters ul li a {
  display: inline;
  padding: 0 16px;
  font-weight: 700;
}
/***************************Section FiltersInfo***************************************/
header .filtersInfo {
  height: 20px;
  display: flex;
  align-items: center;
}
header .filtersInfo span {
  height: 100%;
  color: var(--blue);
  font-size: 10px;
  padding: 3px 7px 4px 7px;
  border: 1px solid var(--darkgrey);
  border-radius: 25px;
  margin-bottom: 5px;
}
header .filtersInfo .text {
  margin-left: 5px;
  height: 100%;
}
