/***************************Section Filters***************************************/

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 24px;
  }
  #filters .title {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 16px;
    margin-bottom: 32px;
  }
  #filters ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  #filters ul li {
    display: flex;
    align-items: center;
    margin-right: 16px;
    border: 2px solid var(--lightgrey);
    border-radius: 32px;
    margin-bottom: 16px;
    transition: 0.3s ease;
  }
  #filters ul li:hover {
    transform: scale(1.03);
   
  }
  
  #filters ul li span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: var(--lightgrey);
    color: var(--blue);
    border-radius: 50px;
  }  
  #filters ul li a {
    display: inline;
    padding: 0 16px;
    font-weight: 700;
  }
  
  /***************************Section FiltersInfo***************************************/
  
  header .filtersInfo {
    display: flex;
    align-items: center;
  }
  header .filtersInfo {
display: inline-flex;
align-items: center;  
}
  header .filtersInfo  i {
    color: var(--blue);
    /* align-self: center; */
    font-size:10px;
    padding: 3px 6px;
    border: 1px solid var(--darkgrey);
    border-radius: 50%;
    margin-bottom: 10px;
  }
  header .filtersInfo p {
    margin-top: 24px;
    margin-left: 16px;
  }