/*************************** FOOTER **************************************/
footer {
  background-color: var(--grey);
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}
.about,
.helpAssist,
.ourLodging {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer__container h4 {
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 7px;
}
.footer__container li {
  padding: 5px 0;
}
.footer__container li a:hover {
  font-weight: 600;
  color: var(--blue);
}
/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}
