/*************************** FOOTER **************************************/
footer {
  background-color: var(--grey);
  padding-top: 25px;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  gap: 25px;
}
.menu__footer {
  align-self: flex-start;
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__container h4 {
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 7px;
}
.footer__container li {
  display: flex;
  width: 240px;
  padding: 5px 0;
}


.footer__container li a:hover {
  color: var(--blue);
}
/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/
 @media screen and (max-width: 992px) {
  .footer__container {
    flex-wrap: wrap;
    gap: 5px;
  }
  .menu__footer{
  width: 48%;
}
} 
@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
} 
