/* MAIN */
.blue {
  color: var(--blue);
}
.grey {
  color: var(--darkgrey);
}
#lodging {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  margin-bottom: 35px;
}
.citylodging {
  width:70%;
}
.mostPopular {
  width: 30%;
}
.citylodging,
.mostPopular {
  background: var(--grey);
  border-radius: 16px;
  display: flex; 
  flex-direction: column;
  padding: 16px;
  gap: 16px; 
}
.cardContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#lodging .card{  
  margin-bottom: 16px;  
  border: 8px solid var(--white);  
}
#lodging a:hover {  
  opacity: .75;
} 
#lodging p {
  margin-bottom: 5px;
}
#lodging img {
  object-fit: cover;
}
/***********************************************************************************
**************************** SECTION LODGING ***************************************
***********************************************************************************/
/** City Lodging **/
.citylodging .cardContainer .card{
  width: 32%;
}
.citylodging .cardContainer .card img {  
  width: 100%;
  height: 150px;  
}
.citylodging .knowmore{
  font-weight: 800;
  padding: 35px 0px 45px 5px;
}

/** Most Popular **/
.mostPopular .cardContainer {
  flex-direction: column;
}
.mostPopular .cardContainer .card {
  width: 100%;
  height: 160px;
  display: flex;
}
.mostPopular .cardContainer .card img {
  width: 40%;
}
.mostPopular .cardContainer .card .content {
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}

/** Media queries **/
@media screen and (max-width:992px) {
  #lodging {
    flex-direction: column-reverse;
  }
  .citylodging, .mostPopular {
    width:100%;
  }
  .citylodging{
    background-color: var(--white);    
  }
  .mostPopular { 
    background-color: var(--grey);
    border-radius: 0;
  }
 
  .citylodging .cardContainer .card{
    width: 48%;
  }
  .citylodging .cardContainer .card img {
    height: 180px;
  }  
  .mostPopular .cardContainer .card{
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .citylodging .cardContainer .card{
    width: 100%;
  }
  .citylodging .cardContainer .card img {
    height: 190px;
  }
  .mostPopular .cardContainer .card {
    height: 190px;
  }
}