/* MAIN */

/***********************************************************************************
**************************** SECTION LODGING ***************************************
***********************************************************************************/
#lodging {
  display: flex;
  gap: 24px;
  margin-bottom: 45px;
}
.blue {
  color: var(--blue);
}
.grey {
  color: var(--darkgrey);
}
#lodging .card {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  transition: 0.2s ease all;
  cursor: pointer;
}
#lodging .card:hover {
  transform: scale(1.02);
}
.cityLodging {
  flex: 2;
}
.mostPopular {
  flex: 1;
}
.cityLodging,
.mostPopular {
  background: var(--grey);
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cityLodging a {
  padding-left: 12px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  transition: .2s ease;
}
.cityLodging a:hover {
  color: var(--blue);
}

#lodging .cardContainer {
  display: flex;
  gap: 16px;
}
#lodging .card {
  display: flex;
  background: var(--white);
  border:5px solid var(--white);
  border-radius: 16px;
  overflow: hidden;
}
#lodging img {
  object-fit: cover;
  width: 100%;
}

/***************************City Lodging***************************************/
.cityLodging .cardContainer {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* Card */
.cityLodging .cardContainer .card {  
  flex-wrap: wrap;  
  width: 31%;
}
.cityLodging .cardContainer .card .image {
  width:100%;
}
.cityLodging .cardContainer .card .image img {
  height: 130px;
  } 
.cityLodging .cardContainer .card .content {
  width: 100%;
  padding: 2px;  
}
.cityLodging .cardContainer .card .content p{
  margin-bottom: 4px;
}

/***************************Most Popular***************************************/

.mostPopular .cardContainer {
  flex-direction: column;
}
.mostPopular .cardContainer .card .image {
  height: 150px;
  width: 38%;
}
.mostPopular .cardContainer .card .image img {
  height: 100%;
}
.mostPopular .cardContainer .card .content {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 7px;
}
.mostPopular .cardContainer .card .content .contentText {
  display: inline;
}
.mostPopular .cardContainer .card .content .star {
  display: inline-flex;
  flex-direction: row;
}

/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

@media screen and (max-width: 992px) {
  /*************************** SECTION LODGING ***************************************/
  #lodging {
    display: flex;
    flex-direction: column;
  }
  .cityLodging .cardContainer .card .image img {
    height: 160px;
    } 
  #lodging .mostPopular {
    order: -1;
  }
  .cityLodging .cardContainer .card {
    width: 48%;
  }  
}
/* Media screen 768px */
@media screen and (max-width: 550px) {
  /*************************** SECTION LODGING ***************************************/
  .cityLodging .cardContainer .card {
    width: 100%;
  }
  .cityLodging .cardContainer .card .image img {
    height: 170px;
    } 
  .mostPopular .cardContainer .card .content h4 {
    font-size: 16px;
  }
}