/***************************Section SearchForm***************************************/

#searchform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .mainform {
    width: 100%;
    display: flex;
    border-radius: 1rem;   
    
  }
  .mainform .search {
    position: relative;
    
  }
  .mainform > label {
    padding: 1rem;
    background: var(--grey);
    border-radius: 1rem 0 0 1rem;
  }
  .mainform input[type="text"] {
    padding: 0.9rem;
    border: none;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    color: var(--black);
    font-weight: 700;
  }
  input[type="text"]::placeholder {
    color: var(--black);
    font-weight: 700;
  }
  input[type="text"]:focus {
    outline: none;
  }
  .searchButton{
    background: var(--blue);
    color: var(--white);
    font-weight: 700;
    padding: 0 2rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;   
  }
  .mobileSearch{
    display: none;
  }
 


/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

@media screen and (max-width: 992px) {

    /***************************Section SearchForm***************************************/

    #searchform .mainform input[type="text"] {
        width: 80%;
      }
      .searchButton{
        position: relative;
        left: -11px;
        padding: 0 1rem;
        border-radius: 1rem;
      }
      .desktopSearch {
        display: none;
      }
      .mobileSearch {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}