@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@import 'header.css';
@import 'searchform.css';
@import 'filter.css';
/* @import 'lodging.css'; */
@import 'lodging_flex.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}

:root {
  --blue: #0065fc;
  --white: #ffffff;
  --black: #000000;
  --grey: #f2f2f2;
  --lightgrey: #deebff;
  --darkgrey: #d9d9d9;
}
a {
  text-decoration: none;
  color: var(--black);
}
li {
  list-style-type: none;
}

.screen{
  max-width: 1440px;
  margin: auto;
}
.wrapper {  
    padding: 0 2rem;
}









/***************************Section Activities **************************************/
#activities {
  margin-bottom: 4.5rem;
  max-width: 100%;
  height: auto;
}
#activities .title {
  margin-bottom: 2.5rem;
}
#activities .activitiesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 4.6rem);
  gap: 1.5rem;
}
/* Card Layout */
.activity__card {
  /* overflow: hidden; */
  box-shadow: 5px 5px 16px rgba(158, 158, 199, 0.151);
  transition: 0.2s ease all;
}
.activity__card:hover {
  transform: scale(1.03);
}
.card__item--1 {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.card__item--2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}
.card__item--3 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 2;
}
.card__item--4 {
  grid-column: 3 / span 1;
  grid-row: 1 / -1;
}
.card__item--5 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}
.card__item--6 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 3;
}

/* Card Link */
.card__link {
  border-radius: 1rem;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Card Image */
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

/* Card Overlay */

.card__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;

  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  overflow: hidden;
}

/*************************** FOOTER **************************************/

footer {
  background: var(--grey);
}

footer .footer__menu {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  display:flex;
  justify-content: space-between;
  }

.about, .ourLodging, .helpAssist {
  width: 33%;
}
/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

@media screen and (max-width: 992px) {


  

  /***************************Section Filters***************************************/

  

  /***************************Section Activities **************************************/
  #activities .activitiesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 320px);
    gap: 1.5rem;
  }
  /* Grid Layout */
  .card__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .card__item--2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .card__item--3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .card__item--4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .card__item--5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .card__item--6 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  /* footer .footer__menu {
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.5rem
  } */
}


@media screen and (max-width: 768px) {
  /***************************Section Lodging***************************************/

  .cityLodging .cardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 290px);
    /* display: flex;        
    flex-direction: column;
    height: 50%; */
  }
  /***************************Section Activities **************************************/
  #activities .activitiesList {
    display: flex;
    flex-direction: column;
    
  }
  .card__image {
    max-height: 200px;
  }
  /* footer .footer__menu {
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.5rem
  } */
}