@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  margin: auto;
}

:root {
  --blue: #0065fc;
  --white: #ffffff;
  --black: #000000;
  --grey: #f2f2f2;
  --lightgrey: #deebff;
  --darkgrey: #d9d9d9;
}
a {
  text-decoration: none;
  color: var(--black);
}
li {
  list-style-type: none;
}
.wrapper {
  padding: 0 2rem;
}

/* HEADER */
header {
  margin-bottom: 1.5rem;
}
/***************************Section Navigation***************************************/
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
#navigation .logo {
  padding-left: 3rem;
}
#navigation .logo img {
  width: 100px;
}
#navigation .menu {
  display: flex;
  padding-right: 2rem;
}
#navigation .menu a {
  padding: 2.8rem 1rem;
}
#navigation .menu a:hover {
  border-top: 2px solid var(--blue);
  color: var(--blue);
}

/***************************Section SearchForm***************************************/

#searchform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
#searchform h3 {
  margin-bottom: 1rem;
}
#searchform p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}
#searchform .mainform {
  display: flex;
}
#searchform .mainform .search {
  position: relative;
}
#searchform .mainform > span {
  padding: 1rem;
  background: var(--grey);
  border-radius: 1rem 0 0 1rem;
}
#searchform .mainform input[type="text"] {
  padding: 0.9rem;
  border: none;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  color: var(--black);
  font-weight: 700;
}
#searchform .mainform input[type="text"]::placeholder {
  color: var(--black);
  font-weight: 700;
}
#searchform .mainform input[type="text"]:focus {
  outline: none;
}
#searchform .mainform .search {
  position: relative;
  cursor: pointer;
}
#searchform .mainform .search > input {
  border: none;
  padding: 1rem;
  background: var(--blue);
  border-radius: 0 1rem 1rem 0;
  color: var(--white);
  font-weight: 700;
}
#searchform .mainform .search span {
  position: absolute;
  background: var(--blue);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--white);
  left: -0;
  visibility: hidden;
}

/***************************Section Filters***************************************/

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1.5rem;
}
#filters h4 {
  font-weight: 700;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#filters ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
#filters ul li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border: 2px solid var(--lightgrey);
  border-radius: 2rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}
#filters ul li:hover {
  transform: scale(1.03);
}
#filters ul li span {
  padding: 0.8rem;
  background: var(--lightgrey);
  color: var(--blue);
  border-radius: 50px;
}
#filters ul li:nth-child(2) > span {
  padding: 0.8rem 1rem;
}
#filters ul li a {
  display: inline;
  padding: 0 1rem;
  font-weight: 700;
}

/***************************Section FiltersInfo***************************************/

header .filtersInfo {
  display: flex;
  align-items: center;
}
header .filtersInfo i {
  color: var(--blue);
  font-size: 0.55rem;
  padding: 0.4rem 0.6rem;
  border: 1px solid var(--darkgrey);
  border-radius: 50%;
}
header .filtersInfo p {
  padding-left: 0.5rem;
}

/* MAIN */

/***************************Section Lodging***************************************/
#lodging {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 4rem;
}
#lodging .card {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
}
.cityLodging {
  flex: 2;
}
.mostPopular {
  flex: 1;
}
.cityLodging,
.mostPopular {
  background: var(--grey);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cityLodging h5 {
  margin-top: 1rem;
}
.cityLodging .title,
.mostPopular .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7rem;
}
.cityLodging .cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 1rem;
}
.blue {
  color: var(--blue);
}
.grey {
  color: var(--darkgrey);
}
.cityLodging .cardContainer .card,
.mostPopular .cardContainer .card {
  transition: 0.2s ease all;
}
.cityLodging .cardContainer .card:hover,
.mostPopular .cardContainer .card:hover {
  transform: scale(1.02);
}
.cityLodging .cardContainer .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: var(--white);
  border-radius: 1.5rem;
  border: 8px solid var(--white);
  overflow: hidden;
}
.cityLodging .cardContainer .card .image {
  border-radius: 1rem 1rem 0 0;
  height: 65%;
  width: auto;
  object-fit: cover;
  background-position: top;
  overflow: hidden;
}
.cityLodging .cardContainer .card .image img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 100%;
}
.cityLodging .cardContainer .card .content {
  padding: 5px;
}
.mostPopular .cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 160px;
  gap: 1rem;
}
.mostPopular .cardContainer .card {
  display: flex;
  background: var(--white);
  border: 8px solid var(--white);
  border-radius: 1.5rem;
  overflow: hidden;
}
.mostPopular .cardContainer .card .image {
  flex: 2;
  object-fit: cover;
  background-position: center;
  overflow: hidden;
}
.mostPopular .cardContainer .card .image img {
  height: 100%;
  width: 100%;
}
.mostPopular .cardContainer .card .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mostPopular .cardContainer .card .content .contentText {
  display: inline;
  padding: 0.2rem 1rem;
}
.mostPopular .cardContainer .card .content .star {
  display: inline;
  padding: 0.2rem 1rem;
}

/***************************Section Activities **************************************/
#activities {
  margin-bottom: 4.5rem;
  max-width: 100%;
  height: auto;
}
#activities .title {
  margin-bottom: 2.5rem;
}
#activities .activitiesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 4.6rem);
  gap: 1.5rem;
}
/* Card Layout */
.activity__card {
  /* overflow: hidden; */
  box-shadow: 5px 5px 16px rgba(158, 158, 199, 0.151);
  transition: 0.2s ease all;
}
.activity__card:hover {
  transform: scale(1.03);
}
.card__item--1 {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.card__item--2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}
.card__item--3 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 2;
}
.card__item--4 {
  grid-column: 3 / span 1;
  grid-row: 1 / -1;
}
.card__item--5 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}
.card__item--6 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 3;
}

/* Card Link */
.card__link {
  border-radius: 1rem;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Card Image */
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

/* Card Overlay */

.card__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;

  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  overflow: hidden;

}

/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

@media screen and (max-width: 992px) {
  /* HEADER */

  /***************************Section Navigation***************************************/
  #navigation {
    flex-direction: column;
  }
  #navigation .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #navigation .menu {
    width: 100%;
    justify-content: space-around;
    padding-right: 0;
  }
  #navigation .menu a {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 2px solid var(--darkgrey);
  }
  #navigation .menu a:hover {
    border: none;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
  }

  /***************************Section SearchForm***************************************/

  #searchform .mainform input[type="text"] {
    width: 80%;
  }
  #searchform .mainform .search > input {
    display: none;
  }
  #searchform .mainform .search > span {
    z-index: 1;
    left: -1rem;
    visibility: visible;
  }

  /***************************Section Filters***************************************/

  /* MAIN */

  /***************************Section Lodging***************************************/
  #lodging {
    display: flex;
    flex-direction: column;
  }
  #lodging .mostPopular {
    order: -1;
  }
  #lodging .cityLodging {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cityLodging .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 290px);
    /* display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
  }
  .cityLodging .cardContainer .card .image img {
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
  .mostPopular .cardContainer .card {
    width: auto;
  }
  .mostPopular .cardContainer .card .image img {
    width: 100%;
    object-fit: cover;
    background-position: center;
  }

 /***************************Section Activities **************************************/
 #activities .activitiesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 320px);
  gap: 1.5rem;
}
/* Grid Layout */
.card__item--1 {
  grid-column: 1 / span 1;
  grid-row: 1 /  span 1;
}
.card__item--2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.card__item--3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.card__item--4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.card__item--5 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.card__item--6 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}
}

@media screen and (max-width: 768px) {
  
  /***************************Section Lodging***************************************/

  .cityLodging .cardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 290px);
    /* display: flex;        
    flex-direction: column;
    height: 50%; */
  }
  /***************************Section Activities **************************************/
 #activities .activitiesList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card__image {
  max-height: 200px;
}

}
