/* MAIN */

/***********************************************************************************
**************************** SECTION LODGING ***************************************
***********************************************************************************/
#lodging {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}

#lodging .card {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  cursor: pointer;
}
.cityLodging {
  flex: 2;
}
.mostPopular {
  flex: 1;
}
.cityLodging,
.mostPopular {
  background: var(--grey);
  border-radius: 50%;
  display: flex;
  gap: 16px;
}

.blue {
  color: var(--blue);
}
.grey {
  color: var(--darkgrey);
}
.cityLodging a {
  padding-left: 12px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  transition: .2s ease;
}
.cityLodging a:hover {
  color: var(--blue);
}

#lodging > .card {
  display: flex;
  border-radius: 50%;
  transition: 0.2s ease all;  
  overflow: hidden;
}
#lodging > .card:hover {
  transform: scale(1.02);
}
#lodging > .cardContainer {
  display: flex;
}
#lodging > img {
  width: 100%;
  object-fit: cover;
}

/***************************City Lodging***************************************/
.cityLodging .cardContainer {
  width: 100%;
}
/* Card */
.cityLodging .cardContainer .card {
  width: 30%;  
}
.cityLodging .cardContainer .card .image {
  width: 100%;
  height: 150px;
  margin-bottom: 5px;  
}

/***************************Most Popular***************************************/

.mostPopular .cardContainer {
  gap: 24px;
}
/* Card */
.mostPopular .cardContainer .card {
  
}
.mostPopular .cardContainer .card .image{
  height: 220px;
}
/* .mostPopular .cardContainer .card .content .contentText {
  padding: 3px 16px;
} */

/*************************************************************************************
************************************ MEDIA QUERIES ***********************************
*************************************************************************************/

/* Media screen 1248px */
@media screen and (max-width: 992px) {
  /* MAIN */

  /*************************** SECTION LODGING ***************************************/
  #lodging {
    display: flex;
    flex-direction: column;
  }
  #lodging .mostPopular {
    order: -1;
  }
  .cityLodging .cardContainer .card {
    width: 48%;
    height: 222px;
  }
  /***************************Most Popular***************************************/
  .mostPopular .cardContainer .card {
    height: 202px;
  } 
}

/* Media screen 768px */
@media screen and (max-width: 550px) {
  .cityLodging .cardContainer .card {
    width: 100%;
    height: 202px;
  }
  .mostPopular .cardContainer .card .content h4 {
    font-size: 16px;
  }

  .mostPopular .cardContainer .card {
    height: 150px;
  }
}
